<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <h2 fxFlexFill class="text-center">Tú Perfil</h2>
</div>
<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="5">

    </div>
    <div [fxFlex]="25">
        <mat-card class="mb-20">
            <mat-card-header>
                <mat-card-title>Fotografía</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxFlexFill>
                    <img src="{{srcFoto}}" fxFlexFill class="rounded-circle" (click)="fileInput.click()"/>
                </div>
                <input type="file" class="form-control" id="foto" placeholder="Fotografía" #fileInput (change)="CodificarArchivo($event)" accept="image/*" style="display: none;">
                <div style="float:left; width: 100%; height: 20px;"></div>
                <div fxFlexFill>
                    <button fxFlexFill mat-raised-button color="link" class="w-100" (click)="fileInput.click()">Cargar</button>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Dirección</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxFlexFill>
                    <img src="assets/images/logo.png" fxFlexFill />
                </div>
                <div style="float:left; width: 100%; height: 20px;"></div>
            </mat-card-content>
        </mat-card>
    </div>
    <div [fxFlex]="65">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Datos Personales</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxFlex fxLayout="row">
                    <div fxFlexFill>
                        <mat-form-field fxFlexFill>
                            <input matInput type="text" placeholder="Identificación" name="identificacion" id="identificacion"
                                [(ngModel)]="usuario.identificacion">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxLayout="row">
                    <div fxFlexFill>
                        <mat-form-field fxFlexFill>
                            <input matInput type="text" placeholder="Nombres" name="nombres" id="nombres" [(ngModel)]="usuario.nombres">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxLayout="row">
                    <div fxFlexFill>
                        <mat-form-field fxFlexFill>
                            <input matInput type="text" placeholder="Apellidos" name="apellidos" id="apellidos"
                                [(ngModel)]="usuario.apellidos">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxLayout="row">
                    <div fxFlexFill>
                        <mat-form-field fxFlexFill>
                            <input matInput type="email" placeholder="Correo Electrónico" name="email" id="email"
                                [(ngModel)]="usuario.email" disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxLayout="row">
                    <div fxFlexFill>
                        <mat-form-field fxFlexFill>
                            <input matInput type="text" placeholder="Teléfono" name="telefono" id="telefono"
                                [(ngModel)]="usuario.telefono">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxLayout="row" class="mb-20">
                    <div fxFlexFill>
                        <button fxFlexFill mat-raised-button color="primary" class="w-100" (click)="actualizarCuenta()">Guardar
                            Información</button>
                    </div>
                </div>
                <mat-card-header>
                    <mat-card-title>Cambiar Contraseña</mat-card-title>
                </mat-card-header>
                <div fxFlex fxLayout="row">

                    <div fxFlexFill>
                        <mat-form-field fxFlexFill>
                            <input matInput type="password" placeholder="Contraseña Nueva" name="claveNueva" id="claveNueva"
                                [(ngModel)]="clave" (keyup)="validarClaveEvent()">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxLayout="row">
                    <div fxFlexFill>
                        <mat-form-field fxFlexFill>
                            <input matInput type="password" placeholder="Confirmar Contraseña Nueva" name="claveNuevaConfirmar"
                                id="claveNuevaConfirmar" [(ngModel)]="confirmarClave" (keyup)="validarClaveEvent()">
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="cambiandoClave" fxFlex fxLayout="row">
                    <div fxFlexFill *ngIf="validarClave" class="col-12 alert alert-success" role="alert">
                        Las contraseñas coinciden.
                    </div>
                    <div fxFlexFill *ngIf="!validarClave" class="col-12 alert alert-danger" role="alert">
                        Las contraseñas son diferentes.
                    </div>
                </div>
                <div style="float:left; width: 100%; height: 20px;"></div>
                <div fxFlexFill>
                    <button fxFlexFill mat-raised-button color="accent" class="w-100" (click)="updateClave()">Cambiar
                        Contraseña</button>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
    <div [fxFlex]="5">

    </div>
</div>
