<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex>
        <mat-card fxFlexFill fxLayoutAlign="center center">
            100%
        </mat-card>
    </div>
</div>

<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="15">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            15%
        </mat-card>
    </div>
    <div [fxFlex]="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            25%
        </mat-card>
    </div>
    <div [fxFlex]="60">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            60%
        </mat-card>
    </div>
</div>
