<mat-toolbar color="primary" class="fix-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="nav-brand">
        LSystems Boxes
    </div>
    <span class="nav-spacer"></span>
    <a mat-flat-button [routerLinkActive]="'active'" [routerLink]="['/profile']">
        <mat-icon>account_circle</mat-icon>&nbsp;<span class="hidden-sm">{{nombre}}</span>
    </a>
    <button mat-icon-button (click)="onLoggedout()">
        <mat-icon>exit_to_app</mat-icon>
    </button>



</mat-toolbar>
